// Colors
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$red: rgb(255, 0, 0);
$red-hover: rgb(255, 77, 77);
$green: rgb(0, 153, 51);
$green-hover: rgb(0, 179, 60);
$indigo: rgb(75, 0, 130);
$orange: rgb(255, 127, 0);



// Breakpoints
$breakpoints: (
  'xs' : 0,
  'sm' : 576px,
  'md' : 768px,
  'lg' : 992px,
  'xl' : 1200
);