@import '_variables';
@import '_mixins';

body {
  margin: 0;
  padding: 0;
  background-color: $black;
}

.scoreboard {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  background-color: $black;
  .h1 {
    margin: 0;
    padding: 25px 0;
    text-align: center;
    color: $orange;
  }
  @include breakpoint('md') {
    width: 500px;
    margin: 0 auto;
  }
}

.players {
  .player {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
    background-color: $black;
    color: $white;
    @include breakpoint('md') {
      width: 500px;
      margin: 0 auto;
    }
    .remove-player {
      padding-right: 20px;
      color: $red;
      cursor: pointer;
    }
    .player-name {
      padding-left: 20px;
      text-align: left;
    }
  }
  .error-text {
    text-align: center;
    color: $red;
  }
}

.counter {
    display: flex;
    align-items: center;
  .counter-action {
    padding: 15px 20px;
    font-size: 25px;
    background-color: $black;
    color: $white;
    border: none;
    outline: none;
    cursor: pointer;
    &.decrement {
      background-color: $red;
      &:hover {
        background-color: $red-hover;
      }
      &:focus {
        background-color: $red;
      }
    }
    &.increment {
      background-color: $green;
      &:hover {
        background-color: $green-hover;
      }
      &:focus {
        background-color: $green;
      }
    }
  }
  .counter-score {
    padding-right: 25px;
  }
}

.add-player {
  margin: 25px 0;
  .form {
    padding: 10px;
    background-color: $black;
    .input {
      width: calc(100% - 20px);
      margin: 0 auto;
      padding: 10px;
      border: none;
      border-radius: 4px;
      outline: none;
      font-size: 16px;
      @include breakpoint('md') {
        width: 60%;
      }
    }
    .btn {
      width: 100%;
      margin: 10px auto 0;
      padding: 10px;
      border: none;
      border-radius: 4px;
      outline: none;
      background-color: $orange;
      color: $white;
      font-size: 16px;
      cursor: pointer;
      @include breakpoint('md') {
        width: calc(40% - 25px);
        margin-top: 0;
        margin-left: 5px;
      }
    }
  }
  .info {
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
    color: $white;
    .remove-player {
      color: $red;
    }
  }
}